*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

.nav{
  display: flex;
  height: 15vh;
  width: 100vw;
  border-bottom: 1px solid yellow;
  align-items: center;
  margin-right: 10px;
  justify-content: flex-end;
}

a {
  color: white;
  text-decoration: none;
  font-family: Helvetica;
}

.navegation{

  margin-right: 25px;
  height: 10vh;
  width: 50vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

p{
  color: white;
  font-family: Georgia;
  padding-left: 10px;
}

.container__box-link{
  color: yellow;
}

.container{
  display: flex;
  height: 65vh;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
}

img{
  width: 25vw;
  height: 20vh;
}

.container__box{
  display: flex;
  width: 30vw;
  height: 55vh;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.container__box__image{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

h2{
  color: rgb(205, 219, 9);
  font-size: 2em;
}

.header{
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer{
  color: white;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.container__box__image-paragraph{
  color: rgb(189, 189, 56);
  font-size: 2em;
  font-family: sans-serif;
}

.container__box__image-price{
  color: green;
  font-size: 2em;
  font-family: Impact;
}

.promocion{
  font-size: 1.5em;
  padding-left: 15px;
  display: flex;
  height: 15vh;
  align-items: flex-end;
}

.promocion-paragraph{
  color: rgba(252, 252, 134, 0.842);
  font-family: monospace;
}

.dates{
  height: 60vh;
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.dates__form{
  height: 55vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form{
  color: white;
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 30vw;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  gap: 5px;
  border: 1px dashed rgb(241, 6, 6);
}

input{
  width: 10vw;
}

button{
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: 2px solid yellow;
  position: relative;
  overflow: hidden;
  transition: color 1s ;
  color: red;
  height: 6vh;
}

button:hover{
  color: rgb(145, 99, 187);
}

button::before{
  content: " ";
  position: absolute;
  top: 0;
  left: -50px;
  width: 0;
  height: 100%;
  background-color: rgb(248, 175, 64);
  transform: skewX(35deg);
  z-index: -1;
  transition: width 1s;
}

.link{
  display: flex;
  width: 30vw;
  justify-content: space-around;
  margin-top: 5px;
}

.about{
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.about__image{
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__image-paragraph{
  color: white;
  font-size: 1em;
  font-family: Georgia;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.about__image-image{
  height: 35vh;
  width: 75vw;
}

::placeholder{
  color: red;
  font-family: cursive;
  padding-left: 20px;
}

select{
  color: red;
  font-family: cursive;
  padding-left: 20px;
}
